*.mov
*.avi
*.mp4
*.exe
*.dll
*.zip
*.flv
*.pyc
*.lnk
*.rar
*.toc
*.log
*.spec
*.pkg
*.pyz

handpose_shadow/build
handpose_shadow/dist
handpose_shadow/logs/*

handpose_shadow/__pycache__
handpose_shadow/handpose_shadow.egg-info
handpose_shadow/handpose_shadow.spec
.venv
*.egg-info
handpose_shadow.egg-info/*
handpose_shadow/handpose_shadow.egg-info

merge_udp/connect_unity/对接udp/HandShadow
camera_test/HuaTengVision
camera_test/PC驱动_linux的SDK
