*.mov
*.avi
*.mp4
*.exe
*.dll
*.zip
*.flv
*.pyc
*.lnk
*.rar
*.toc
*.log
*.spec
*.pkg
*.pyz

handpose_shadow/build
handpose_shadow/dist
handpose_shadow/logs/*

**/*.egg-info/
**/build/
**/dist/

handpose_shadow/__pycache__
handpose_shadow/handpose_shadow.egg-info
handpose_shadow/handpose_shadow.spec
.venv
*.egg-info
handpose_shadow.egg-info/*
handpose_shadow/handpose_shadow.egg-info

merge_udp/connect_unity/对接udp/HandShadow

# 这些是无关的相机使用文件
camera_test/HuaTengVision
camera_test/PC驱动_linux的SDK 

# 这些是无关的相机文件 
camera_test/工业相机的python_demo/cv_grab_callback.py
camera_test/工业相机的python_demo/cv_grab.py
camera_test/工业相机的python_demo/cv_grab2.py
camera_test/工业相机的python_demo/grab.py
camera_test/工业相机的python_demo/mvsdk.py
camera_test/工业相机的python_demo/readme.txt
 
# 忽略同步大的权重文件
handpose_shadow/HSPR_InceptionV3.pt